{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Login{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='signin.css') }}>
{% endblock %}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
</div>
{% endfor %}
<div class="container">
    <form class="form-signin" method="post">
        {{ form.hidden_tag() }}
        <h2 class="form-signin-heading">Please Log in</h2>
        {{ form.username(class="form-control", placeholder="Username") }}
        {{ form.password(class="form-control", placeholder="Password") }}
        <div class="checkbox">
          <label>
            {{ form.remember_me() }} Remember me
          </label>
        </div>
        {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
    </form>
</div>
{% endblock %}
