{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}登录{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='signin.css') }}>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}
{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    <form class="form-signin" method="post">
        {{ form.hidden_tag() }}
        <h2 class="form-signin-heading">登录</h2>
        {{ form.username(class="form-control", placeholder="账号") }}
        {{ form.password(class="form-control", placeholder="密码") }}
        <div class="checkbox">
          <label>
            {{ form.remember_me() }} 记住我
          </label>
        </div>
        {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
    </form>
</div>
{% endblock %}
