{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}单选题 － 编辑{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>单选题 － 编辑</h1>
</div>
{% include 'single_choice/_single_choice_form.html' %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="//cdn.ckeditor.com/4.4.6/full/ckeditor.js"></script>
    <script type="text/javascript">
        CKEDITOR.replace('question', {
                    filebrowserUploadUrl: '/ckupload/',
                    });
        CKEDITOR.replace('faq', {
                    filebrowserUploadUrl: '/ckupload/',
                    });
        CKEDITOR.replace('A', {
                    filebrowserUploadUrl: '/ckupload/',
                    });
        CKEDITOR.replace('B', {
                    filebrowserUploadUrl: '/ckupload/',
                    });
        CKEDITOR.replace('C', {
                    filebrowserUploadUrl: '/ckupload/',
                    });
        CKEDITOR.replace('D', {
                    filebrowserUploadUrl: '/ckupload/',
                    });
    </script>
{% endblock %}
