{% extends "bootstrap/base.html" %}

{% block title %}中南大学算法与数据结构试题库{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('main.index') }}">中南大学算法与数据结构试题库</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('auth.logout') }}">注销</a></li>
            <li><a href="{{ url_for('main.about') }}">关于</a></li>
          </ul>
        </div>
      </div>
    </nav>
{% endblock%}

{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
              <li><a href="{{ url_for('main.index') }}">欢迎</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="{{ url_for('main.manage', subject_id=0) }}">题库管理</a></li>
            <li><a href="{{ url_for('main.single_choice') }}">单选题</a></li>
            <li><a href="{{ url_for('main.blank_fill') }}">填空题</a></li>
            <li><a href="{{ url_for('main.essay') }}">问答题</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="{{ url_for('main.test_papers') }}">试卷管理</a></li>
            <li><a href="{{ url_for('main.generate_test_paper') }}">生成新试卷</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
        {% block page_content %}{% endblock %}
        </div>
      </div>
    </div>
{% endblock%}
