{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}填空题{% endblock %}
{% block page_content %}
<h1 class="page-header">填空题</h1>
<ul class="posts">
    {% for bf in blank_fill %}
    <li class="post">
        <div class="post-content">
            <div class="post-date">
                <span class="label label-primary">{{ bf.add_date }}</span>
                <span class="label label-primary">难度: {{ bf.difficult_level }}</span>
            </div>
            <div class="post-body">
                <div class="post-bold"><p>{{ bf.id }}.</p></div>
                {{ bf.question | safe }}
                <div class="post-bold">[参考答案]</div> <p>{{ bf.answer }}</p>
                <div class="post-bold">[解析]</div>
                {{ bf.faq | safe}}
            </div>
            <div class="post-footer">
                <a href="{{ url_for('main.edit_blank_fill', id=bf.id) }}">
                    <span class="label label-primary">编辑</span>
                </a>
                <a href="{{ url_for('main.delete_blank_fill', id=bf.id) }}">
                    <span class="label label-default">删除</span>
                </a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'main.blank_fill') }}
</div>
{% endif %}

<form method="post" class="form" role="form">
    {{ form.hidden_tag() }}
    <div class="form-group  required"><label class="control-label" for="question">{{ form.question.label }}</label>
        <textarea class="ckeditor" id="question" name="question" required></textarea>
    </div>

    <div class="form-group "><label class="control-label" for="difficult_level">{{ form.difficult_level.label }}</label>
        {{ form.difficult_level(class="form-control") }}
    </div>

    <div class="form-group "><label class="control-label" for="faq">{{ form.faq.label }}</label>
        <textarea class="ckeditor" id="faq" name="faq"></textarea>
    </div>

    <div class="form-group  required"><label class="control-label" for="answer">{{ form.answer.label }}</label>
        {{ form.answer(class="form-control") }}
    </div>

    <input class="btn btn-default" id="submit" name="submit" type="submit" value="提交">
</form>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="//cdn.ckeditor.com/4.4.6/standard/ckeditor.js"></script>
    <script type="text/javascript">
        CKEDITOR.replace('question', {
                    filebrowserUploadUrl: '/ckupload/',
                    });
        CKEDITOR.replace('faq', {
                    filebrowserUploadUrl: '/ckupload/',
                    });
    </script>
{% endblock %}
