{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}填空题{% endblock %}
{% block page_content %}
<h1 class="page-header">填空题</h1>
<ul class="posts">
    {% for bf in blank_fill %}
    <li class="post">
        <div class="post-content">
            <div class="post-date">
                <span class="label label-primary">{{ bf.add_date }}</span>
                <span class="label label-primary">Difficult Level: {{ bf.difficult_level }}</span>
                <span class="label label-primary">Score: {{ bf.score }}</span>
            </div>
            <div class="post-body">
                <div class="post-bold"><p>{{ bf.id }}.</p></div>
                {% if bf.question_html %}
                    {{ bf.question_html | safe }}
                {% else %}
                    {{ bf.question }}
                {% endif %}
                <div class="post-bold">[参考答案]</div> <p>{{ bf.answer }}</p>
                <div class="post-bold">[解析]</div>
                {% if bf.faq_html %}
                    {{ bf.faq_html | safe }}
                {% else %}
                    {{ bf.faq }}
                {% endif %}
            </div>
            <div class="post-footer">
                <a href="{{ url_for('main.edit_blank_fill', id=bf.id) }}">
                    <span class="label label-primary">Edit</span>
                </a>
                <a href="{{ url_for('main.delete_blank_fill', id=bf.id) }}">
                    <span class="label label-default">Delete</span>
                </a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'main.blank_fill') }}
</div>
{% endif %}
{{ wtf.quick_form(form) }}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
