{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}问答题 － 编辑{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>问答题 － 编辑</h1>
</div>
{% include '_essay_form.html' %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="//cdn.ckeditor.com/4.4.6/full/ckeditor.js"></script>
    <script type="text/javascript">
        CKEDITOR.replace('question', {
                    filebrowserUploadUrl: '/ckupload/',
                    });
        CKEDITOR.replace('faq', {
                    filebrowserUploadUrl: '/ckupload/',
                    });
        CKEDITOR.replace('answer', {
                    filebrowserUploadUrl: '/ckupload/',
                    });
    </script>
{% endblock %}
