{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}问答题{% endblock %}
{% block page_content %}
<h1 class="page-header">问答题</h1>
<ul class="posts">
    {% for es in essay %}
    <li class="post">
        <div class="post-content">
            <div class="post-date">
                <span class="label label-primary">{{ es.add_date }}</span>
                <span class="label label-primary">Difficult Level: {{ es.difficult_level }}</span>
                <span class="label label-primary">Score: {{ es.score }}</span>
            </div>
            <div class="post-author">{{ es.id }}. {% if es.question_html %} {{ es.question_html | safe }} {% else %} {{ es.question }} {% endif %}</div>
            <div class="post-body">
                </br>
                Answer: {% if es.answer_html %}{{ es.answer_html | safe }} {% else %} {{ es.answer }} {% endif %}</br>
                Faq: {% if es.faq_html %}{{ es.faq_html | safe }} {% else %} {{ es.faq }} {% endif %}</br>
            </div>
            <div class="post-footer">
                <a href="{{ url_for('main.edit_essay', id=es.id) }}">
                    <span class="label label-primary">Edit</span>
                </a>
                <a href="{{ url_for('main.delete_essay', id=es.id) }}">
                    <span class="label label-default">Delete</span>
                </a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'main.essay') }}
</div>
{% endif %}
{{ wtf.quick_form(form) }}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
