{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}问答题{% endblock %}
{% block page_content %}
<h1 class="page-header">问答题</h1>
<ul class="posts">
    {% for es in essay %}
    <li class="post">
        <div class="post-content">
            <div class="post-date">
                <span class="label label-primary">{{ es.add_date }}</span>
                <span class="label label-primary">科目: {{ es.subject_name }}</span>
                <span class="label label-primary">难度: {{ es.difficult_level }}</span>
                <span class="label label-primary">知识点: {{ es.knowledge_points_name }}</span>
            </div>
            <div class="post-body">
                <div class="post-bold"><p>{{ es.id }}.</p></div>
                {{ es.question | safe }}
                <div class="post-bold">[参考答案]</div>
                {{ es.answer | safe }}
                <div class="post-bold">[解析]</div>
                {{ es.faq | safe }}
            </div>
            <div class="post-footer">
                <a href="{{ url_for('main.edit_essay', id=es.id) }}">
                    <span class="label label-primary">编辑</span>
                </a>
                <a href="{{ url_for('main.delete_essay', id=es.id) }}">
                    <span class="label label-default">删除</span>
                </a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'main.essay') }}
</div>
{% endif %}

{% include '_essay_form.html' %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="//cdn.ckeditor.com/4.4.6/standard/ckeditor.js"></script>
    <script type="text/javascript">
        CKEDITOR.replace('question', {
                    filebrowserUploadUrl: '/ckupload/',
                    });
        CKEDITOR.replace('faq', {
                    filebrowserUploadUrl: '/ckupload/',
                    });
        CKEDITOR.replace('answer', {
                    filebrowserUploadUrl: '/ckupload/',
                    });
    </script>
{% endblock %}

