{% extends "base.html" %}
{% block title %}新试卷{% endblock %}
{% block page_content %}

<h1 class="page-header">新试卷</h1>
<h3>单选题</h3>
<ul class="posts sortable">
    {% for sc in single_choice %}
    <li class="post">
    <div class="post-content">
        <div class="post-date">
            <span class="label label-primary">{{ sc.add_date }}</span>
            <span class="label label-primary">难度: {{ sc.difficult_level }}</span>
            <span class="label label-primary">知识点: {{ sc.knowledge_points_name }}</span>
        </div>
        <div class="post-body">
            <div class="post-bold"><p>{{ sc.id }}.</p></div>
            {{ sc.question | safe }}
            <p>
            A: {{ sc.A }}</br>
            B: {{ sc.B }}</br>
            C: {{ sc.C }}</br>
            D: {{ sc.D }}</br>
            </p>
            <div class="post-bold">[参考答案]</div> <p>{{ sc.answer }}</p>
            <div class="post-bold">[解析]</div>
            {{ sc.faq | safe }}
        </div>
    </div>
    </li>
    {% endfor %}
</ul>

<h3>填空题</h3>
<ul class="posts sortable">
    {% for bf in blank_fill %}
    <li class="post">
        <div class="post-content">
            <div class="post-date">
                <span class="label label-primary">{{ bf.add_date }}</span>
                <span class="label label-primary">难度: {{ bf.difficult_level }}</span>
                <span class="label label-primary">知识点: {{ bf.knowledge_points_name }}</span>
            </div>
            <div class="post-body">
                <div class="post-bold"><p>{{ bf.id }}.</p></div>
                {{ bf.question | safe }}
                <div class="post-bold">[参考答案]</div> <p>{{ bf.answer }}</p>
                <div class="post-bold">[解析]</div>
                {{ bf.faq | safe }}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
<h3>问答题</h3>
<ul class="posts sortable">
    {% for es in essay %}
    <li class="post">
        <div class="post-content">
            <div class="post-date">
                <span class="label label-primary">{{ es.add_date }}</span>
                <span class="label label-primary">难度: {{ es.difficult_level }}</span>
                <span class="label label-primary">知识点: {{ es.knowledge_points_name }}</span>
            </div>
            <div class="post-body">
                <div class="post-bold"><p>{{ es.id }}.</p></div>
                {{ es.question | safe }}
                <div class="post-bold">[参考答案]</div>
                {{ es.answer | safe }}
                <div class="post-bold">[解析]</div>
                {{ es.faq | safe }}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-ui-1.11.4.custom/jquery-ui.min.js') }}"></script>
    <script type="text/javascript">
      $(function() {
        $( ".sortable" ).sortable({
          revert: true
        });
        $( ".draggable" ).draggable({
          connectToSortable: ".sortable",
          helper: "clone",
          revert: "invalid"
        });
        $( "ul, li" ).disableSelection();
      });
    </script>
{% endblock %}
