{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}单选题{% endblock %}
{% block page_content %}
<h1 class="page-header">单选题</h1>
<ul class="posts">
    {% for sc in single_choice %}
    <li class="post">
        <div class="post-content">
            <div class="post-date">
                <span class="label label-primary">{{ sc.add_date }}</span>
                <span class="label label-primary">难度: {{ sc.difficult_level }}</span>
            </div>
            <div class="post-body">
                <div class="post-bold"><p>{{ sc.id }}.</p></div>
                {% if sc.question_html %}
                    {{ sc.question_html | safe }}
                {% else %}
                    {{ sc.question }}
                {% endif %}
                <p>
                A: {{ sc.A }}</br>
                B: {{ sc.B }}</br>
                C: {{ sc.C }}</br>
                D: {{ sc.D }}</br>
                </p>
                <div class="post-bold">[参考答案]</div> <p>{{ sc.answer }}</p>
                <div class="post-bold">[解析]</div>
                {% if sc.faq_html %}
                    {{ sc.faq_html | safe }}
                {% else %}
                    {{ sc.faq }}
                {% endif %}
            </div>
            <div class="post-footer">
                <a href="{{ url_for('main.edit_single_choice', id=sc.id) }}">
                    <span class="label label-primary">编辑</span>
                </a>
                <a href="{{ url_for('main.delete_single_choice', id=sc.id) }}">
                    <span class="label label-default">删除</span>
                </a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'main.single_choice') }}
</div>
{% endif %}
{{ wtf.quick_form(form) }}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
