{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}单选题{% endblock %}
{% block page_content %}
<h1 class="page-header">单选题</h1>
<ul class="posts">
    {% for sc in single_choice %}
    <li class="post">
        <div class="post-content">
            <div class="post-date">
                <span class="label label-primary">{{ sc.add_date }}</span>
                <span class="label label-primary">难度: {{ sc.difficult_level }}</span>
            </div>
            <div class="post-body">
                <div class="post-bold"><p>{{ sc.id }}.</p></div>
                {{ sc.question | safe }}
                <p>
                A: {{ sc.A }}</br>
                B: {{ sc.B }}</br>
                C: {{ sc.C }}</br>
                D: {{ sc.D }}</br>
                </p>
                <div class="post-bold">[参考答案]</div> <p>{{ sc.answer }}</p>
                <div class="post-bold">[解析]</div>
                {{ sc.faq | safe }}
            </div>
            <div class="post-footer">
                <a href="{{ url_for('main.edit_single_choice', id=sc.id) }}">
                    <span class="label label-primary">编辑</span>
                </a>
                <a href="{{ url_for('main.delete_single_choice', id=sc.id) }}">
                    <span class="label label-default">删除</span>
                </a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'main.single_choice') }}
</div>
{% endif %}
<form method="post" class="form" role="form">
    {{ form.hidden_tag() }}
    <div class="form-group  required"><label class="control-label" for="question">{{ form.question.label }}</label>
    {{ form.question(class="ckeditor") }}
    </div>
    <div class="form-group  required"><label class="control-label" for="A">{{ form.A.label }}</label>
    {{ form.A(class="form-control") }}
    </div>
    <div class="form-group  required"><label class="control-label" for="B">{{ form.B.label }}</label>
    {{ form.B(class="form-control") }}
    </div>
    <div class="form-group  required"><label class="control-label" for="C">{{ form.C.label }}</label>
    {{ form.C(class="form-control") }}
    </div>
    <div class="form-group  required"><label class="control-label" for="D">{{ form.D.label }}</label>
    {{ form.D(class="form-control") }}
    </div>
    <div class="form-group  required"><label class="control-label" for="difficult_level">{{ form.difficult_level.label }}</label>
    {{ form.difficult_level(class="form-control") }}
    </div>
    <div class="form-group "><label class="control-label" for="faq">{{ form.faq.label }}</label>
    {{ form.faq(class="ckeditor") }}
    </div>
    <div class="form-group required"><label class="control-label" for="answer">{{ form.answer.label }}</label>
    {{ form.answer(class="form-control") }}
    </div>
    {{ form.submit(class="btn btn-default") }}
</form>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="//cdn.ckeditor.com/4.4.6/standard/ckeditor.js"></script>
    <script type="text/javascript">
        CKEDITOR.replace('question', {
                    filebrowserUploadUrl: '/ckupload/',
                    });
        CKEDITOR.replace('faq', {
                    filebrowserUploadUrl: '/ckupload/',
                    });
    </script>
{% endblock %}
