{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %} 试卷管理 {% endblock %}
{% block page_content %}
<h1 class="page-header">试卷管理</h1>
<ul class="posts">
    {% for tp in test_papers %}
    <li class="post">
        <div class="post-content">
            <div class="post-date">
                <span class="label label-primary">{{ tp.add_date }}</span>
                <span class="label label-primary">科目：{{ tp.subject_name }}</span>
                <span class="label label-primary">难度：{{ tp.difficult_level }}</span>
            </div>
            <div class="post-body">
                <div class="post-bold"><p>{{ tp.id }}.</p></div>
                <p><a href="{{ url_for('main.test_paper', id=tp.id) }}">{{ tp.name }}</a></p>
            </div>
            <div class="post-footer">
                <a href="">
                    <span class="label label-primary">编辑</span>
                </a>
                <a href="{{ url_for('main.delete_test_paper', id=tp.id) }}">
                    <span class="label label-default">删除</span>
                </a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'main.blank_fill') }}
</div>
{% endif %}
{% endblock %}
